.agenda-block .cal_0, .agenda-block .cal_1 {
    /* Algemeen */
    background-color: #c7561e;
}
.agenda-block .cal_2, .agenda-block .cal_3 {
    /* Landwerk */
    background-color: #3c995b;
}
.agenda-block .cal_4, .agenda-block .cal_5 {
    /* Waterwerk */
    background-color: #536ca6;
}

#block-agenda-2 .agenda-block .cal_0, #block-agenda-2 .agenda-block .cal_1 {
    /* Landwerk */
    background-color: #3c995b;
}
#block-agenda-3 .agenda-block .cal_0, #block-agenda-3 .agenda-block .cal_1 {
    /* Waterwerk */
    background-color: #536ca6;
}

.agenda-link {
    text-align: right;
    margin-top: -5px;
}
.agenda-link a {
    color: #3399cc;
    text-decoration: none;
    transition: color 0.2s ease-out 0s;
    font-style: italic;
}
.agenda-link a:hover {
    color: #19358d;
    text-decoration: underline;
}
