@import "menus.css";
@import "three-columns.css";
@import "maintenance.css";
@import "webform.css";
@import "search.css";
@import "quick-navigation.css";
@import "upcomingevents.css";

body {
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

@media only screen and (min-width: 960px) {
    body {
        background: url("../images/zeilboten.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    #page-wrapper {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

#header {
    background-image: url("../images/header_no_logo.jpg");
	background-repeat: no-repeat;
	background-position: 0 bottom;
    height: 140px;
}
#header .section {
    height: 140px;
}
#main,
#navigation,
#breadcrumb,
#main-wrapper,
#subheader {
    background-color: #ffffff;
}
#header,
#main,
#navigation,
#breadcrumb,
#main-wrapper,
.site-footer,
#subheader,
div.messages {
    max-width: 960px;
    margin: 0 auto;
}
div.messages {
    width: 95%;
}
h1, h2, h3, h4 {
    color: #3399cc;
}
h2 {
    font-family: "Arial black",Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    margin: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}
h1, .content h2 {
    font-size: 30px;
    font-family: "Arial black", Helvetica, sans-serif;
    line-height: 24px;
    margin: 10px 0 15px 0;
    padding: 0;
}
a {
    transition: color 0.2s ease-out 0s !important;
}
#block-zuiderkruis-content .node__content a, #content .content a, #content .sitemap a {
    color: #3399cc;
    transition: color 0.2s ease-out 0s;
    text-decoration: none;
}
#block-zuiderkruis-content .node__content a:hover, #content .content a:hover, #content .sitemap a:hover {
    color: #19358d;
    text-decoration: underline;
}
.content {
    font-family: Arial,sans-serif;
}
#logo {
    margin-left: 15px;
    margin-top: 10px;
    float:left;
}

.center {
    text-align: center;
}

.region-header {
    float: left;
}

#block-zuiderkruis-content .node__content ol, #block-zuiderkruis-content .node__content ul, #content .content ol, #content .content ul {
    margin-left: 0;
}
#block-zuiderkruis-content .node__content ul li, #content .content ul li, #content .sitemap ul li {
    background: url("../images/arrows/bullet-arrow_black.png") no-repeat 0 0;
    line-height: 16px;
    list-style: none outside none;
    margin-bottom: 5px;
    padding-left: 16px;
}
#block-zuiderkruis-content .node__content ul.links.inline li, #content .content ul.links.inline li {
    background: none;
    padding-left: 0;
}
#block-zuiderkruis-content .node__content ul.links.inline li a, #content .content ul.links.inline li a {
    color: #19358d;
}
ul.contextual-links li {
    background-image: none;
    margin-bottom: 0;
    padding-left: 0;
}

.item-list .pager li {
    padding-top: 0;
    padding-bottom: 0;
}

#block-zuiderkruis-branding,
#block-quicknavigation,
#block-zuiderkruis-main-menu {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
#block-footermessage {
    padding: 15px;
}

#sidebar-first {
    float: left;
    width: 250px;
    height: 100%
}
#content {
    display: inline-block;
    max-width: 680px;
    margin-bottom: 15px;
    padding-left: 15px;
}
.site-footer {
    background-color: rgba(0, 0, 0, 0.4);
    color: #999999;
    font-size: 12px;
}
@media only screen and (max-width: 960px) {
    .site-footer {
        background: #05152C url(../images/footer_water.jpg);
    }
}

.region-footer, .site-footer .footer-tekst {
    text-align: center;
}
.region-footer a, .site-footer .footer-tekst a {
    color: #3399cc;
    text-decoration: none;
}
.region-footer a:hover,.site-footer .footer-tekst a:hover {
    color: #19358d;
    text-decoration: underline;
}

@media only screen and (min-width:650px) {
    .floatleft {
        clear: both;
        float: left;
        padding: 4px 10px 4px 0;
    }
    .floatright {
        clear: both;
        float: right;
        padding: 4px 0 4px 10px;
    }
}

.node__content ul {
    /* Make sure list item bullets do not overlap floating images. */
    overflow: hidden;
}

#skip-link {
    display: none;
}


.break-long-lines {
    overflow-wrap: break-word;
}

img.scale-with-page {
    height: auto;
    max-width: 100%;
}

/* Individual elements */

iframe.calendar,
iframe.map {
    border-width: 0;
    width: 100%;
    min-width: 300px;
    max-width: 600px;
}

/* Hide superfluous node header on 403 page within webform */
a[rel='bookmark'] {
    display: none;
}

